div.container {
  width: 100%;
  border: 1px solid gray;
}

body {
  background-color: gold;
}

div.dynamicDay {
  text-align: center;
}

header, footer {
  padding: 1em;
  color: gold;
  background-color: maroon;
  clear: left;
  text-align: center;
}

nav {
  float: left;
  max-width: 120px;
  margin: 0;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

div.picture {
  overflow: hidden;
}

article {
  margin-left: 130px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}
.timeOfDay {
  font-style: italic;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dayOfWeek {
  font-weight: bold;

}
